*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content{
    width: 85%;
    margin: 0 auto;
}

.titlePrayerTimes{
    text-align: center;
    padding: 5px;
    font-size: 25px;
    background-color: #EF9D05;
    color: white;
}

.ShowTodaysDate{
    text-align: center;
    padding: 5px;
    font-size: 25px;
    background-color: #EF9D05;
    color: white;
}
.showPrayerTimes{
    display: flex;
}

.showPrayerTimes div{
    background-color: white;
    flex: 1;
    margin: 5px;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: 1px solid black;
}

.showPrayerTimes div:hover{
    background-color: #EF9D05;
    color: white;
    border: 1px solid #D68D06;
    
}

.titlePTMonth{
    text-align: center;
}
