*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content{
    width: 70%;
    margin: 0 auto;
}

.headerPrayerTimes{
    background-color: #EF9D05;
    color: white;
}

.titlePrayerTimes{
    text-align: center;
    padding: 15px 0px 0px 0px;
    font-size: 25px;
}

.ShowTodaysDate, .notePTMonth{
    text-align: center;
    padding: 10px 0px;
    font-size: 22px;
}

.notePTMonth select{
    font-size: 20px;
    background: none;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    padding: 0px 5px;
    outline:0px;
}

.notePTMonth option{
    background-color: #212529;
}

.showPrayerTimes{
    display: flex;
    color:#212529;
	padding: 5px;
}

.showPrayerTimes h6{
    padding: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
}


.showPrayerTimes div{
    background-color: white;
    flex: 1;
    margin: 5px;
    min-height: 80px;
	padding: 5px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    border: 1px solid #e49400;
	font-weight: bold;
	transition: 0.5s ease;
}

.showPrayerTimes div:hover{
    background-color: #212529;
    color: white;
}

.showPTMonth{
    margin-top: 30px;
}

.titlePTMonth{
    text-align: center;
	padding: 20px 0px;
    
}

.table-center{
    text-align: center;
}


@media (max-width: 950px) {
    .content{
        /* content connect with width of the table bootstrap */ 
        min-width: 600px;
    }
    .showPrayerTimes div{
	height: auto;
	padding: 5px;
	margin: 2px;
    }

    .ShowTodaysDate{
        font-size: 20px;
    }

    .notePTMonth span{
        font-size: 16px;
    }

    .titlePTMonth{
        padding: 10px 0px;
    }
    .titlePTMonth h4{
	font-size: 20px;
    }
}
